.body
{
    width: 1280px;
    height: 600px;
}
.add_font_family
{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.add_padding
{
    padding: 10px;
}
.song_card
{
    max-width: 200px;
    min-width: 200px;
    height: 250px;
    box-shadow: 12px 12px 12px black;
}
.song_card:hover
{
    box-shadow: 19px 19px 12px black;
}
.scroll_horizontally
{
    overflow-x: scroll;
}
.scroll_vertically
{
    overflow-y: scroll;
}
.main_parent_element
{
    margin-top: 50px;
    margin-left: 32%;
    background-image: url("./img_lucky_dube.png");
    background-size: contain; 
    background-repeat: no-repeat;
}
.top_title_element
{
    height: 50px;
}
.color_red
{
    background-color: red;
}
.color_green
{
    background-color: green;
}
.color_yellow
{
    background-color: yellow;
}
.flex_stuff
{
    display: flex;
}

.center_stuff
{
    justify-content: center;
    align-items: center;
}
.vertic
{
    flex-direction: column;
}
.horiz
{
    flex-direction : row;
}
.add_container_items_spaces
{
    margin: 10px;
}
.btn_start_game
{
    font-size: 23px;
    color: black;
    border: none;
    margin-top: 320px;
    outline: none;
    margin-left: -440px;
}
.btn_game
{
    font-size: 23px;
    color: black;
    border: none;
    outline: none;
}
.add_corner_radius
{
    border-radius: 10px;
}
.level_one
{
    z-index: 1;
}
.level_two
{
    z-index: 2;
}
.level_three
{
    z-index: 3;
}
.questions
{
    position: absolute;
    left: 0;
}
.hide_overflow
{
    overflow: hidden;
}
.slide_left
{
    animation: slideLeft 0.9s;
    animation-fill-mode: forwards;
}
@keyframes slideLeft {
    from {transform: translateX(0px);}
    to {transform: translateX(-800px);}
}
.position_one
{
    left: 0px;
}
.position_two
{
    left: 800px;
}
.hide_stuff
{
    display: none;
}
.opaque_background
{
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgb(0, 0, 0, 0.5);
}
.songs_popup_section
{
    position: absolute;
    top: 20%;
    left: 20%;
}
.format_btn
{
    border: none;
    outline: none;
}
.choices_container
{
    margin-top:10px;
}
.option_card:hover
{
    background-color: green;
}
.game_screen_popup
{
    position: absolute;
    top: 20%;
    left: 20%;
}
.big_width
{
    width: 1290px;
}
.moderate_width
{
    width: 800px;
}
.fixed_moderate_width
{
    min-width: 800px;
    max-width: 800px;
}
.lesser_width
{
    width: 500px;
}
.small_width
{
    width: 170px;
}
.big_height
{
    height: 650px;
}
.moderate_height
{
    height: 495px;
}
.song_long_answers
{
    position: absolute;
    top: 15%;
    left: 20%;
}
.lesser_height
{
    height: 295px;
}
.slightly_lesser_height
{
    height: 195px;
}
.small_height
{
    height: 36px;
}
.auto_height
{
    height: auto;
}
.place_bottom
{
    margin-top: 135px;
}
.add_white_text
{
    color: black;
}
.center_stubborn_button
{
    margin-left: 300px;
}